<header>
    <nav class="top-nav">
        <div class="nav-wrapper">
            <div id="header" class="row">
                <div class="col s9 page-title truncate">
                    {{#if title }}
                        <a>{{ title }}</a>
                    {{else}}
                        <a>Des barres !</a>
                    {{/if}}
                </div>
                <div class="col s3 page-connexion">
                    <div class="row valign-wrapper center">
                        <div class="valign">
                            {{#if session.login}}
                                <div class="col s1 page-connexion-icon">
                                    <i class="small mdi-action-account-circle"> </i>
                                </div>
                                <a href="/detailPersonne/{{ session.num }}">
                                    <div class="col s6 truncate">{{ session.login }}</div>
                                </a>
                                <div class="col s4">
                                    <a href="/deconnect">Déconnexion</a>
                                </div>
                            {{else}}
                                <a href="/connect">Connexion</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>