{{#if listeDivision}}
	<form action="#" method="POST">
		<div>
			<label for="annee">Année </label>
			<select name="annee">
			{{#each listeDivision}}
				<option value="{{this.div_num}}">{{this.div_nom}}</option>
			{{/each}}
			</select>
		</div>
		<div>
			<label for="dep">Département </label>
			<select name="dep">
			{{#each listeDepartement}}
				<option value="{{this.dep_num}}">{{this.dep_nom}}</option>
			{{/each}}
			</select>
		</div>
		<button type="submit" class="waves-effect waves-light cyan lighten-3 btn-flat">Valider</button>
	</form>
{{else}}

<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">Ajout effectué</span>
        <img src='/image/valid.png'/><p>L'étudiant a été ajouté.</p>
    </div>
    <div class="card-action">
        <a href="/">Retour à l'accueil</a>
        <a href="/personne/lister">Voir la liste des personnes</a>
    </div>
</div>

{{/if}}
