<div class="card-panel cyan lighten-3">
    Il y a actuellement {{ nbPersonne }} personnes enregistrées
</div>

<table class="centered hoverable responsive-table">
    <thead>
    	<tr>
    		<th>Numéro</th>
    		<th>Nom</th>
    		<th>Prénom</th>
    	</tr>
    </thead>

    <tbody>
    	{{#each listePersonne}}
    	<tr>
    		<td>
                <a href='/personne/detail/{{this.per_num}}' class="waves-effect waves-red btn-flat">
                    <span class="cyan-text text-draken-1">{{this.per_num}}</span>
                </a>
            </td>
    		<td>{{this.per_nom}}</td>
    		<td>{{this.per_prenom}}</td></a>
    	</tr>
    	{{else}}
        <tr>
    		<td>-</td>
    		<td>-</td>
    		<td>-</td>
        </tr>
    	{{/each}}
    </tbody>
</table>

<p>Cliquez sur le numéro de la personne pour obtenir plus d'informations.</p>