{{#if listeDivision}}
	<form action="#" method="POST">
		<div>
			<label for="annee">Année </label>
			<select name="annee">
			{{#each listeDivision}}
				<option value="{{this.div_num}}">{{this.div_nom}}</option>
			{{/each}}
			</select>
		</div>
		<div>
			<label for="dep">Département </label>
			<select name="dep">
			{{#each listeDepartement}}
				<option value="{{this.dep_num}}">{{this.dep_nom}}</option>
			{{/each}}
			</select>
		</div>
		<button type="submit" class="waves-effect waves-light lime darken-1 btn-flat">Valider</button>
	</form>
{{else}}
	<img src="/image/valid.png"/>
	<span>L'étudiant a été ajouté !</span>
{{/if}}
