{{#if personne.dep_nom}}
	<h1>Détail sur l'étudiant {{personne.per_nom}}</h1>
	<table class="centered responsive-table">
        <thead>
    		<tr>
    			<th>Prénom</th>
    			<th>Mail</th>
    			<th>Tel</th>
    			<th>Département</th>
    			<th>Ville</th>
    		</tr>
        </thead>

        <tbody>
    		<tr>
    			<td>{{personne.per_prenom}}</td>
    			<td>{{personne.per_mail}}</td>
    			<td>{{personne.per_tel}}</td>
    			<td>{{personne.dep_nom}}</td>
    			<td>{{personne.vil_nom}}</td>
    		</tr>
        </tbody>
	</table>

{{/if}}


{{#if personne.fon_libelle}}
	<h1>Détail sur le salarié {{personne.per_nom}}</h1>
	<table class="centered responsive-table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Tel pro</th>
                <th>Fonction</th>
            </tr>
        </thead>

        <tbody>
    		<tr>
    			<td>{{personne.per_prenom}}</td>
    			<td>{{personne.per_mail}}</td>
    			<td>{{personne.per_tel}}</td>
    			<td>{{personne.sal_telprof}}</td>
    			<td>{{personne.fon_libelle}}</td>
    		</tr>
        </tbody>
	</table>

{{/if}}


<a id="manque-de-respect" class="waves-effect btn disabled">
    Se moquer ouvertement de cette personne
</a>
<br>
<a href='/listerPersonne' class="waves-effect waves-light btn">
    <i class="mdi-hardware-keyboard-arrow-left left"></i>
    Retour
</a>