{{> enTete}}
{{> menu}}
 <h1>Liste des citations déposées</h1>

<p>Il y a actuellement {{nbCitation}} citations enregistrées</p>

<table>
     <tr>
       <th>Nom de l'ensiegnant</th>
       <th>Libellé</th>
       <th>Date</th>
       <th>Moyenne des notes</th>
     </tr>                               
 {{#each listeCitation}} <!--  parcours de listeCitation -->
    <tr>
    	<td>{{this.per_nom}}</td>
    	<td>{{this.cit_libelle}}</td>
    	<td>{{this.cit_date}}</td>
    	<td>{{this.moyenne}}</td>
   	</tr>
 {{/each}}
 </table>