{{> enTete}}
{{> menu}}
 <h1>Liste des personnes enregistrées</h1>

<p>Il y a actuellement {{nbPersonne}} personnes enregistrées</p>

<table>
	<tr>
		<th>Numéro</th>
		<th>Nom</th>
		<th>Prénom</th>
	</tr>                               
	{{#each listePersonne}} <!--  parcours de listePersonne -->
	<tr>
		<td><a href='/detailPersonne/{{this.per_num}}'>{{this.per_num}}</a></td>
		<td>{{this.per_nom}}</td>
		<td>{{this.per_prenom}}</td>
	</tr>
	{{else}}
		<td>-</td>
		<td>-</td>
		<td>-</td>
	{{/each}}
</table>
<p>Cliquez sur le numéro de la personne pour obtenir plus d'informations.</p>