{{> enTete}}
{{> menu}}	
<h1>Modifier une personne</h1>

<form action="#" method='POST'>
	<div>
		<label for='nom'>Nom</label>
		<input type='text' name='nom' value="{{session.personneModifiee.per_nom}}" required/>
	</div>
	<div>
		<label for='prenom'>Prénom</label>
		<input type='text' name='prenom' value="{{session.personneModifiee.per_prenom}}" required/>
	</div>
	<div>
		<label for='tel'>Téléphone</label>
		<input type='text' name='tel' value="{{session.personneModifiee.per_tel}}" required/>
	</div>
	<div>
		<label for='mail'>Mail</label>
		<input type='text' name='mail' value="{{session.personneModifiee.per_mail}}" required/>
	</div>
	<div>
		<label for='login'>Login</label>
		<input type='text' name='login' value="{{session.personneModifiee.per_login}}" required/>
	</div>
	<div>
		<label for='password'>Mot de passe</label>
		<input type='password' name='password' required/>
	</div>
	<div>
		<label for='categorie'>Catégorie </label>
		<input type="radio" name="categorie" value="1" {{#if session.personneModifiee.dep_num}}checked{{/if}}/>Etudiant
		<input type="radio" name="categorie" value="2" {{#if session.personneModifiee.fon_num}}checked{{/if}}/>Personnel
	</div>
	<input type="submit" value="Valider"/>
</form>