
{{#if cit_libelle}}
    <h3>Résumé de la citation</h3>

    <p>Publiée par : <b>{{ personne.per_nom }} {{ personne.per_prenom }}</b></p>
    <p>Le : <b>{{ cit_date }}</b></p>
    <p>Contenu : <b>{{ cit_libelle }}</b></p>
{{/if}}


{{#if personnes}}
<form method="post" action="#">
    <label for="personne">Blagueur :</label>
    <select id="personne" name="per_num">
        <optgroup label="Personnes">
            {{#each personnes}}
                <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
            {{else}}
                <p><i>No content</i></p>
            {{/each}}
        </optgroup>
    </select>

    <label for="date">Date citation :</label>
    <input type="text" maxlength="10" name="cit_date" id="date" required>

    <label for="citation">Citation :</label>
    <textarea id="citation" name="cit_libelle" rows="3" cols="30" required></textarea>

    <button type="submit">Valider</button>

    <ul id="mot_interdits" class="list-unstyled">
    </ul>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        var mots = "{{mots}}".split(',');

        $('#citation').on('keyup', function() {
            var texte = $(this).val().split(" ");

            for (var i = 0; i < texte.length; i++) {
                var index = mots.indexOf(texte[i]);
                if (index >= 0) {
                    var str = "";
                    for (var j = 0; j < texte[i].length; j++) {
                        str += '*';
                    }
                    texte[i] = str;

                    afficherMotsInterdit(mots[index]);
                }
            }

            $(this).val(texte.join(" "));
        });
    });

    function afficherMotsInterdit(mot) {
        var image = document.createElement('img');
        image.src = "/image/erreur.png";

        var span = document.createElement('span');
        span.appendChild(document.createTextNode(" le mot " + mot + " : est interdit "));

        var list_item = document.createElement('li');
        list_item.appendChild(image);
        list_item.appendChild(span);

        $('#mot_interdits').append(list_item);
    }
</script>
{{/if}}
