
{{#if cit_libelle}}
    <h3>Résumé de la citation</h3>

    <p>Publiée par : <b>{{ personne.per_nom }} {{ personne.per_prenom }}</b></p>
    <p>Le : <b>{{ cit_date }}</b></p>
    <p>Contenu : <b>{{ cit_libelle }}</b></p>
{{/if}}


{{#if personnes}}
<div class="container">
    <form method="post" action="#">
        <!-- Blagueur -->
        <div class="row valign-wrapper">
            <div class="col s12 m4 l2">
                <span>Blagueur :</span>
            </div>
            <div class="col s12 m8 l10">
                <select name="per_num">
                    {{#each personnes}}
                        <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
                    {{else}}
                        <p><i>No content</i></p>
                    {{/each}}
                </select>
            </div>
        </div>

        <!-- Date -->
        <div class="row valign-wrapper">
            <div class="col s12">
                <div class="input-field">
                    <i class="mdi-action-today prefix"></i>
                    <label for="date">Date d'ajout</label>
                    <input type="text" maxlength="10" name="cit_date" id="date" required>
                </div>
            </div>
        </div>

        <!-- Citation -->
        <div class="row valign-wrapper">
            <div class="col s12">
                <div class="input-field center">
                    <textarea id="citation" name="cit_libelle" class="materialize-textarea" rows="3" cols="30" required></textarea>
                    <label for="citation">La petite blague</label>
                </div>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light green ligthen-2 btn">Valider</button>

        <ul id="mot_interdits" class="list-unstyled">
        </ul>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var mots = "{{mots}}".split(',');

        $('#citation').on('keyup', function() {
            var texte = $(this).val().split(" ");

            for (var i = 0; i < texte.length; i++) {
                var index = mots.indexOf(texte[i]);
                if (index >= 0) {
                    var str = "";
                    for (var j = 0; j < texte[i].length; j++) {
                        str += '*';
                    }
                    texte[i] = str;

                    afficherMotsInterdit(mots[index]);
                }
            }

            $(this).val(texte.join(" "));
        });
    });

    function afficherMotsInterdit(mot) {
        var image = document.createElement('img');
        image.src = "/image/erreur.png";

        var span = document.createElement('span');
        span.appendChild(document.createTextNode(" le mot " + mot + " : est interdit "));

        var list_item = document.createElement('li');
        list_item.appendChild(image);
        list_item.appendChild(span);

        $('#mot_interdits').append(list_item);
    }
</script>
{{/if}}
