{{> enTete}}
{{> menu}}

<div id="show">
    <h1>Résumé de la citation</h1>

    <p>Publiée par : <b>{{ personne.per_nom }} {{ personne.per_prenom }}</b></p>
    <p>Le : <b>{{ citation.cit_date }}</b></p>
    <p>Contenu : <b>{{ citation.cit_libelle }}</b></p>
    {{#if citation.moyenne}}
        <p>Moyenne : <b>{{citation.moyenne}}</b></p>
    {{/if}}

    <button id="modifier">Modifier la citation</button>
    <button id="noter">Noter la citation</button>
</div>

<div id="update">
    <h1>Modification de la citation</h1>

    <form action="#" method="post">
        <label for="personne">Blagueur :</label>
        <select id="personne" name="per_num">
            <optgroup label="Personnes">
                {{#each personnes}}
                    <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
                {{else}}
                    <p><i>No content</i></p>
                {{/each}}
            </optgroup>
        </select>

        <label for="date">Date citation :</label>
        <input type="text" maxlength="10" name="cit_date" id="date" required value="{{ citation.cit_date }}">

        <label for="citation">Citation :</label>
        <textarea id="citation" name="cit_libelle" rows="3" cols="30" required>{{ citation.cit_libelle }}</textarea>

        <button type="submit">Valider</button>
    </form>
</div>

<div id="notate">
    <h1>Notation de la citation</h1>

    <form action="/citation/{{ citation.cit_num }}/noter" method="post">
        <div id="slider"></div>

        <label for="note">Note :</label>
        <input type="text" maxlength="3" name="vot_valeur" id="note" required pattern="[0-9]{0,2}">

        <button type="submit">Noter la citation</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#update').hide();
        $('#notate').hide();

        $('#slider').slider({
            orientation: "horizontal",
            range: "min",
            max: 20,
            value: 10,
            slide: refreshValue,
            change: refreshValue
        });
    });

    $('#modifier').on('click', function() {
        $('#show').fadeToggle(0.5);
        $('#update').fadeToggle(0.5);
    });

    $('#noter').on('click', function() {
        $('#show').fadeToggle(0.5);
        $('#notate').fadeToggle(0.5);
    });

    function refreshValue() {
        var value = $('#slider').slider('value');
        $('#note').val(value);
    }
</script>