<div id="show">
    <p>Publiée par : <b>{{ personne.per_nom }} {{ personne.per_prenom }}</b></p>
    <p>Le : <b>{{ citation.cit_date }}</b></p>
    <p>Contenu : <b>{{ citation.cit_libelle }}</b></p>
    {{#if citation.moyenne}}
        <p>Moyenne : <b>{{citation.moyenne}}</b></p>
    {{/if}}


    <!-- Modal Triggers -->
    <a id="modifier" class="waves-effect waves-light btn modal-trigger" href="#modalModifier">
        <i class="mdi-editor-mode-edit left"></i>
        Modifier la citation
    </a>
    <a id="noter" class="waves-effect waves-light btn modal-trigger" href="#modalNoter">
        <i class="mdi-action-star-rate left"></i>
        Noter la citation
    </a>
</div>



<!-- Modifier modal -->
<div id="modalModifier" class="modal modal-fixed-footer">
    <form action="/citation/{{ citation.cit_num }}" method="post">
        <div class="modal-content">
            <h4>Modification de la citation</h4>

            <label for="personne">Blagueur :</label>
            <select id="personne" name="per_num">
                <optgroup label="Personnes">
                    {{#each personnes}}
                        <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
                    {{else}}
                        <p><i>No content</i></p>
                    {{/each}}
                </optgroup>
            </select>

            <label for="date">Date citation :</label>
            <input type="text" maxlength="10" name="cit_date" id="date" required value="{{ citation.cit_date }}">

            <div class="input-field">
                <i class="mdi-editor-mode-edit prefix"></i>
                <textarea id="citation" name="cit_libelle" rows="3" cols="30" class="materialize-textarea" required>
                    {{ citation.cit_libelle }}
                </textarea>
                <label for="citation">Citation :</label>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-green btn-flat">Valider</button>
        </div>
    </form>
</div>


<!-- Noter modal -->
<div id="modalNoter" class="modal modal-fixed-footer">
    <form action="/citation/{{ citation.cit_num }}/noter" method="post">
        <div class="modal-content">
            <h4>Noter la citation </h4>
            <br>
            <div class="row valign-wrapper">
                <div class="col s12 m4">
                    <h6 id="note">Note : </h6>
                </div>
                <div class="col s12 m8">
                    <p class="range-field">
                        <input type="range" id="note-picker" name="vot_valeur" min="0" max="20" />
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-green btn-flat">Noter !</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('.modal-trigger').leanModal();    // modals initalisation

    $('#note-picker').on('mousedown mousemove mouseover', function() {
        $('#note').text('Note : ' + $(this).val());
    })
</script>