{{> enTete}}
{{> menu}}
 <h1>Liste des citations déposées</h1>

<p>Il y a actuellement <b>{{ nbCitation }}</b> citations enregistrées</p>


{{#if is_authorized}}
  <table>
       <tr>
         <th>Nom de l'enseignant</th>
         <th>Libellé</th>
         <th>Date</th>
         <th>Moyenne des notes</th>
       </tr>
      {{#each citations}} <!--  parcours de listeCitation -->
      <tr>
          <td>{{ this.per_nom }}</td>
          <td><a href="/citation/{{ this.cit_num }}">{{ this.cit_libelle }}</a></td>
          <td>{{ this.cit_date }}</td>
          {{#if this.moyenne }}
            <td>{{ this.moyenne }}</td>
          {{else}}
            <td>Pas encore évaluée</td>
          {{/if}}
      </tr>
      {{/each}}
  </table>

  <p>Cliquez sur le nom d'une citation pour la modifier.</p>
  {{#if personne.per_admin}}
    <a href="/citations/gestion"><button>Gérer les citations (valider / supprimer)</button></a>
  {{/if}}

{{else}}
  <table>
       <tr>
         <th>Nom de l'enseignant</th>
         <th>Libellé</th>
         <th>Date</th>
         <th>Moyenne des notes</th>
       </tr>
      {{#each citations}} <!--  parcours de listeCitation -->
      <tr>
          <td>{{ this.per_nom }}</td>
          <td>{{ this.cit_libelle }}</td>
          <td>{{ this.cit_date }}</td>
          {{#if this.moyenne }}
            <td>{{ this.moyenne }}</td>
          {{else}}
            <td>Pas encore évaluée</td>
          {{/if}}
      </tr>
      {{/each}}
   </table>

  <p>Connectez-vous en tant qu'étudiant pour ajouter et modifier des citations.</p>

{{/if}}