<div id="show">
    <p>Publiée par : <b>{{ personne.per_nom }} {{ personne.per_prenom }}</b></p>
    <p>Le : <b>{{ citation.cit_date }}</b></p>
    <p>Contenu : <b>{{ citation.cit_libelle }}</b></p>
    {{#if citation.moyenne}}
        <p>Moyenne : <b>{{citation.moyenne}}</b></p>
    {{/if}}


    <!-- Modal Triggers -->
    <a id="modifier" class="waves-effect waves-light btn modal-trigger" href="#modalModifier">
        <i class="mdi-editor-mode-edit left"></i>
        Modifier la citation
    </a>
    <a id="noter" class="waves-effect waves-light btn modal-trigger" href="#modalNoter">
        <i class="mdi-action-star-rate left"></i>
        Noter la citation
    </a>
</div>



<!-- Modifier modal -->
<div id="modalModifier" class="modal modal-fixed-footer">
    <form action="#" method="post">
        <div class="modal-content">
            <h4>Modification de la citation</h4>

            <label for="personne">Blagueur :</label>
            <select id="personne" name="per_num">
                <optgroup label="Personnes">
                    {{#each personnes}}
                        <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
                    {{else}}
                        <p><i>No content</i></p>
                    {{/each}}
                </optgroup>
            </select>

            <label for="date">Date citation :</label>
            <input type="text" maxlength="10" name="cit_date" id="date" required value="{{ citation.cit_date }}">

            <div class="input-field">
                <i class="mdi-editor-mode-edit prefix"></i>
                <textarea id="citation" name="cit_libelle" rows="3" cols="30" class="materialize-textarea" required>
                    {{ citation.cit_libelle }}
                </textarea>
                <label for="citation">Citation :</label>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-green btn-flat">Valider</button>
        </div>
    </form>
</div>


<!-- Noter modal -->
<div id="modalNoter" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
    </div>
</div>




<div id="update" hidden>
    <form action="#" method="post">
        <label for="personne">Blagueur :</label>
        <select id="personne" name="per_num">
            <optgroup label="Personnes">
                {{#each personnes}}
                    <option value="{{this.per_num}}">{{this.per_nom}} {{this.per_prenom}}</option>
                {{else}}
                    <p><i>No content</i></p>
                {{/each}}
            </optgroup>
        </select>

        <label for="date">Date citation :</label>
        <input type="text" maxlength="10" name="cit_date" id="date" required value="{{ citation.cit_date }}">

        <label for="citation">Citation :</label>
        <textarea id="citation" name="cit_libelle" rows="3" cols="30" required>{{ citation.cit_libelle }}</textarea>

        <button type="submit">Valider</button>
    </form>
</div>

<div id="notate" hidden>
    <form action="/citation/{{ citation.cit_num }}/noter" method="post">
        <div id="slider"></div>

        <label for="note">Note :</label>
        <input type="text" maxlength="3" name="vot_valeur" id="note" required pattern="[0-9]{0,2}">

        <button type="submit">Noter la citation</button>
    </form>
</div>


<!--script type="text/javascript">
    $(document).ready(function() {
        $('#update').hide();
        $('#notate').hide();

        $('#slider').slider({
            orientation: "horizontal",
            range: "min",
            max: 20,
            value: 10,
            slide: refreshValue,
            change: refreshValue
        });
    });

    $('#modifier').on('click', function() {
        $('#show').fadeToggle(0.5);
        $('#update').fadeToggle(0.5);
    });

    $('#noter').on('click', function() {
        $('#show').fadeToggle(0.5);
        $('#notate').fadeToggle(0.5);
    });

    function refreshValue() {
        var value = $('#slider').slider('value');
        $('#note').val(value);
    }
</script-->